@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,700;1,300;1,400&display=swap');

body 
{
	background-color:  #f8f8f8;
	font-family: 'Nunito', sans-serif;
}

ul li
{
	font-weight: bold;
	text-decoration: none;
	list-style-type: none;
}

ul a
{
	text-decoration: none;
	color: gray;
}

.details,
.details li
{
	color:black;
	font-size: 18px;
	background-color: #eaeaea;

}

.description
{
	color:#707070;
	font-style: italic;
	line-height: 16px;
	text-align: left;
}

.input,
.inputArea
{
	width: 300px;
	height: 90px;
	border: 1px solid lightgray;
	border-radius: 0px;
	padding-left: 5px;
	color: gray;
}

.input
{
	width: 250px;
	height: 25px;
}

.header img
{
	float:left;
}
.header li
{
	display: inline-block;
	border: 1px solid white;
	width: 105px;
	border-radius: 35px;
	margin-bottom: 5px;
	margin-right: 30px;
	text-align: center;
	background-color: white;
	color: #00abc9;
	position: relative;
	left: 50px;
	top: 45px;
}




.hover:hover
{
	color: lightgray;	
}


.capit
{
	text-transform: capitalize;
}

.tableCost
{
	width: 40%;
	height: 250px;
	border: 1px solid lightgray;
	border-collapse: collapse;
	position: relative;
	float: right;
	right: 160px;
}
.tableCost td
{
	border: 1px solid gray;
	text-align: center;
	background-color: #eaeaea;
}

.tableCost td:nth-child(2n-1)
{
	background-color: white;
}

.firstletter:first-letter
{
	font-family: "Comic Sans MS", Times, serif;
	color:blue;
}

.header
{
	border-bottom:1px solid lightgray;
	height: 110px;
}
.footer
{
	padding-top: 5px;
	margin-top: 5px;
	border-top: 1px solid lightgray;
}



.conteiner
{
	width: 1000px;
	margin: 0 auto;
}

.header
{
	background-color: #00abc9;
}

.content
{
	width: 930px;
	float: left;
	padding: 35px;

}

.footer
{
	clear:both;
	background-color: #0c131d;
	color:white;
	padding: 10px 35px;
}

.header img
{
	position: relative;
	left: 25px;
}

.floatImg
{
	float: left;
	margin-right: 50px;
}
.bye
{
	display: block;
	border: 1px solid #00abc9;
	width: 105px;
	border-radius: 35px;
	text-align: center;
	color: white;
	background-color: #00abc9;
	text-decoration: none;
	font-weight: bold;
	float:left;
	margin-left: 245px;
}

.floatImg > img
{
	width: 350px;
	height: 200px;
}

.block
{
	width: 400px;
	height: 400px;
	margin-bottom: 10px;
	float:left;
	margin-right: 30px;
	padding-left: 50px;
}
.block:nth-child(2n)
{
	margin-right: 0;
}